@import url("https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-family: "Slabo 27px", serif; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em;
  font-weight: bold; }

h4 {
  font-size: 1.2em; }

a {
  text-decoration: none; }
  a:hover {
    color: #40AAFF; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 800px; }

.templates {
  display: none; }

.hidden {
  display: none; }

.overlay {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }
  .overlay .pop-up {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 200px;
    width: 250px;
    border: 1px solid #AAA;
    background-color: #FFF;
    -webkit-box-shadow: 2px rgba(0, 0, 0, 0.4);
            box-shadow: 2px rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    .overlay .pop-up p {
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%); }

.ui-datepicker {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  padding: 5px; }

@media only screen and (max-width: 767px) {
  .content {
    margin-top: 50px; } }

header {
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFF; }
  header a {
    color: #666;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    header a:hover {
      color: #40AAFF;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  header .logo i {
    display: none; }
  header .logo .go-back {
    display: none; }
  header .search-bar {
    display: none;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    position: relative; }
    header .search-bar input {
      width: 100%; }
    header .search-bar button {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(10%, -50%);
              transform: translate(10%, -50%);
      border: 1px solid lightgray;
      background-color: #FFF; }
  header .account-links, header .link-to-my-listings {
    margin: 0 25px;
    font-weight: bold; }
    header .account-links a:hover, header .link-to-my-listings a:hover {
      text-decoration: underline; }

@media only screen and (min-width: 767px) {
  header .logo {
    border-right: 2px solid #DDB;
    padding-right: 15px; } }

@media only screen and (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFF;
    margin-top: 0;
    margin-bottom: 20px;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; }
    header .logo {
      position: relative; }
      header .logo i {
        display: block;
        position: absolute;
        font-size: 1.5em;
        padding: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      header .logo i .fa-user, header .logo .fa-plus {
        left: 0; }
      header .logo i.fa-bars {
        right: 0; }
      header .logo .go-back {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        font-size: 2em;
        font-weight: bolder;
        padding: 10px; }
        header .logo .go-back:hover {
          text-decoration: none; }
    header .account-links {
      display: none; }
    header .link-to-my-listings {
      display: none; }
    header div {
      width: 100%;
      text-align: center;
      margin: 10px 0; } }

aside {
  background-color: white;
  margin-top: 5px;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey; }
  aside a {
    color: #000; }
  aside h3, aside h4 {
    margin: 0 20px; }
  aside h3 {
    margin-top: 5px;
    margin-bottom: 15px; }
  aside h4 {
    margin-bottom: 10px; }
  aside li {
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    aside li:hover {
      background-color: #DDB;
      color: #40AAFF;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }

@media only screen and (max-width: 767px) {
  aside {
    position: fixed;
    top: 0px;
    left: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    aside.is-open {
      top: 60px;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
  li {
    padding: 20px;
    border-bottom: 1px solid #DDB; } }

main {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 10px 20px; }
  main h2 {
    margin-bottom: 15px; }
  main .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .results .result-listing {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      width: 200px;
      border: 1px solid lightgray;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      overflow: hidden; }
      main .results .result-listing:hover {
        position: relative;
        z-index: 1;
        left: -2px;
        top: -2px;
        border-color: #40AAFF;
        -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
        -webkit-transition: border-color,-webkit-box-shadow 0.1s ease-in-out;
        transition: border-color,-webkit-box-shadow 0.1s ease-in-out;
        transition: border-color,box-shadow 0.1s ease-in-out;
        transition: border-color,box-shadow 0.1s ease-in-out,-webkit-box-shadow 0.1s ease-in-out; }
      main .results .result-listing * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      main .results .result-listing .listing-row-one {
        margin-bottom: 10px; }
        main .results .result-listing .listing-row-one * {
          margin: 3px 0; }
        main .results .result-listing .listing-row-one .rate {
          font-style: italic; }
      main .results .result-listing .listing-row-two .description {
        margin: 10px 0; }
      main .results .result-listing .listing-row-two .image-wrapper {
        width: 100%;
        height: 125px; }
    main .results .disabled {
      background-color: #BBB; }
      main .results .disabled img {
        opacity: .5; }
  main .listing {
    margin-top: 20px; }
    main .listing .listing-top .listing-image-wrapper {
      display: inline-block;
      width: 250px;
      height: 250px;
      border: 1px solid rgba(160, 160, 160, 0.5); }
    main .listing .listing-top .listing-details {
      display: inline-block;
      padding: 0 20px;
      vertical-align: top; }
      main .listing .listing-top .listing-details p {
        margin-bottom: 10px; }
      main .listing .listing-top .listing-details button {
        color: #40AAFF;
        font-size: 1.3em;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
      main .listing .listing-top .listing-details button:hover {
        color: #FFF;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
      main .listing .listing-top .listing-details .listing-rate {
        font-size: 1.5em; }
    main .listing .listing-description {
      margin-top: 20px;
      width: 500px; }
  main .form-container div {
    margin: 5px 0; }
  main .form-container .categories input {
    margin-right: 10px; }
  main .form-container .image-wrapper {
    width: 150px;
    height: 100px; }
  main .form-container .current-image {
    border: 1px solid #AAA;
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  main .form-container .button-wrapper {
    margin-top: 10px; }
    main .form-container .button-wrapper button {
      font-size: 0.9em; }
  main .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px; }
    main .button-wrapper button {
      border: none;
      background-color: #FFF;
      padding: 5px;
      margin: 0 5px;
      -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      font-size: 0.7em;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      main .button-wrapper button:hover {
        background-color: #40AAFF;
        color: #DDB;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        cursor: pointer; }
  main .image-wrapper {
    overflow: hidden;
    position: relative; }
    main .image-wrapper img {
      width: 100%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

@media only screen and (max-width: 502px) {
  main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
    main .results .result-listing {
      margin: auto;
      margin-bottom: 10px;
      width: 100%; }
      main .results .result-listing .listing-row-two .image-wrapper {
        height: 250px; }
    main .button-wrapper button {
      font-size: 1em;
      width: 100%; } }

footer {
  background-color: #DDB;
  color: #40AAFF;
  padding: 15px; }
