@import url("https://fonts.googleapis.com/css?family=Open+Sans|Slabo+27px");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  margin-top: 50px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 15px;
  font-family: "Slabo 27px", serif; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em;
  font-weight: bold; }

h4 {
  font-size: 1.2em; }

.content {
  display: -ms-flexbox;
  display: flex;
  min-height: 800px; }

.templates {
  display: none; }

.hidden {
  display: none; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  padding: 0 100px;
  box-sizing: border-box;
  background-color: lightgray; }
  header h1 {
    -ms-flex: 1;
        flex: 1;
    color: gray; }
  header form {
    -ms-flex: auto;
        flex: auto;
    position: relative; }
    header form input {
      width: 100%; }
    header form button {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%); }
  header a {
    -ms-flex: 1;
        flex: 1;
    text-align: right; }

aside {
  background-color: white;
  padding: 20px 0;
  border-right: 1px solid black; }
  aside h3, aside h4 {
    margin: 0 20px; }
  aside h3 {
    margin-bottom: 15px; }
  aside h4 {
    margin-bottom: 10px; }
  aside li {
    padding: 5px 20px;
    transition: all 0.3s ease-in-out; }
    aside li:hover {
      background-color: lightgray;
      color: green;
      transition: all 0.3s ease-in-out; }
  aside .my-listings-buttons {
    margin-bottom: 20px; }
    aside .my-listings-buttons li {
      font-weight: bold; }

main {
  -ms-flex: auto;
      flex: auto;
  padding: 20px; }
  main h2 {
    margin-bottom: 15px; }
  main .results {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .results .result-listing {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      width: 150px;
      height: 200px;
      border: 1px solid lightgray; }
      main .results .result-listing .listing-row-one {
        margin-bottom: 10px; }
        main .results .result-listing .listing-row-one .rate {
          font-style: italic; }
      main .results .result-listing .listing-row-two .image-wrapper {
        margin-bottom: 10px;
        width: 150px;
        height: 100px;
        overflow: hidden;
        position: relative; }
        main .results .result-listing .listing-row-two .image-wrapper img {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
      main .results .result-listing .listing-row-two .description {
        margin-bottom: 10px; }
      main .results .result-listing .listing-row-two .button-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        main .results .result-listing .listing-row-two .button-wrapper button {
          -webkit-appearance: none;
          border: none;
          background-color: transparent;
          padding: 5px;
          margin: 0 5px;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
          font-size: 0.7em; }
    main .results .disabled {
      background-color: #AAA; }
      main .results .disabled img {
        opacity: .5; }

footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white; }
