header {
	background-color: #DDD;
	width: 100%;
}

aside {
	background-color: red;
	width: 100px;
}

main {
	background-color: yellow;
}

.results {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.result-listing {
	clear: left;
}

.result-listing .listing-row-one * {
	display: inline-block;
}

.result-listing .listing-row-two img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}

footer {
	background-color: #DDD;
	clear: both;
}