main {
	flex: auto;
	padding: 10px 20px;

	h2 {
		margin-bottom: 15px;
	}

	// styles for item listings
	.results {
		display: flex;
		flex-wrap: wrap;

		.result-listing {
			margin-right: 10px;
			margin-bottom: 10px;
			padding: 10px;
			width: 200px;
			// height: 250px;
			border: 1px solid lightgray;
			transition: all 0.1s ease-in-out;
			overflow: hidden;

			&:hover {
				position: relative;
				z-index: 1;
				left: -2px;
				top: -2px;
				border-color: #40AAFF;
				box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
				transition: border-color,box-shadow 0.1s ease-in-out;
			}

			* {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.listing-row-one {
				margin-bottom: 10px;

				* {
					margin: 3px 0;
				}

				.rate {
					font-style: italic;
				}
			}

			.listing-row-two {
				.description {
					margin-bottom: 10px;
					// white-space: pre-line;
					// overflow: hidden;
					// text-overflow: ellipsis;
				}

				.image-wrapper {
					width: 100%;
					height: 125px;
				}
			}
		}

		.disabled {
			background-color: #BBB;

			img {
				opacity: .5;
			}
		}
	}

	// Listing pages
	.listing {
		margin-top: 20px;

		.listing-top {
			height: 200px;

			.listing-image-wrapper {
				display: inline-block;
				width: 250px;
				height: 250px;
			}
			.listing-details {
				display: inline-block;
				padding: 0 20px;

				p {
					margin-bottom: 10px;
				}

				button {
					color: #40AAFF;
					font-size: 1.3em;
					padding-left: 20px;
					padding-right: 20px;
					transition: all 0.1s ease-in-out;
				}

				button:hover {
					color: #FFF;
					transition: all 0.1s ease-in-out;
				}

				.listing-price {
					font-size: 1.5em;
				}
			}
		}
		.listing-description {
				margin-top: 20px;
				width: 500px;
		}
	}

	// style for listing forms
	.form-container {

		div {
			margin: 5px 0;
		}

		.categories {
			input {
				margin-right: 10px;
			}
		}

		.image-wrapper {
			width: 150px;
			height: 100px;
		}

		.current-image {
			border: 1px solid #AAA;
			transform: translateX(20px)
		}

		.button-wrapper {

			margin-top: 10px;

			button {
				font-size: 0.9em;
			}
		}
	}

	// style for groups of buttons
	.button-wrapper {
		display: flex;
		justify-content: space-around;
		padding: 5px;

		button {
			// -webkit-appearance: none;
			border: none;
			background-color: #FFF;
			padding: 5px;
			margin: 0 5px;
			box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
			font-size: 0.7em;
			transition: all 0.1s ease-in-out;

			&:hover {
				background-color: #40AAFF;
				color: #DDB;
				transition: all 0.1s ease-in-out;
				cursor: pointer;
			}
		}
	}

	// style for images
	.image-wrapper {
		margin-bottom: 10px;
		// width: 150px;
		// height: 100px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

}

@media only screen and (max-width: 502px) {
	main {
		box-sizing: border-box;
    width: 100%;

		.results {
			// width: 100%;

			.result-listing {
				margin: auto;
				margin-bottom: 10px;
				width: 100%;
				.listing-row-two {
					.image-wrapper {
						height: 250px;
					}
				}
			}
		}

		.button-wrapper {
			button {
				font-size: 1em;
				width: 100%;
			}
		}
	}
}
